
		{text-align:;
			color: rgb(51, 10, 59);
			 background:purple;
			 font-size: 30px;
			}
			 p{
				text-align: center;
				color:whitesmoke;
			 }
			 img{display: block;
				margin: 0 auto;
			}
	
	ul{text-align:center;
color: violet;
font-size: 25px;


	}