
	h1{text-align: center;
	 color: whitesmoke;
	  background:purple;}
	  p{background: black;
	  	color: white;}
	img{ 

	display: block;
	margin: 0
	auto; }
	ul{text-align:center;
color: violet;
font-size: 25px;


	}